@model ConferenceManagerExampleApp.Models.BindingModels.SubjectBindingModel

<form asp-area="" asp-controller="Subject" asp-action="AddSubject" method="post">
    <div class="form-group">
        <label asp-for="Title">Title:</label>
        <input class="form-control" asp-for="Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="SubjectCategoryId">Category</label>
        <select class="form-control" asp-for="SubjectCategoryId" asp-items="@Model.SubjectCategoryDescription">
            <option selected="selected" value="">Please select</option>
        </select>
        <span asp-validation-for="SubjectCategoryId" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Add</button>
</form>