@model ConferenceManagerExampleApp.Models.BindingModels.TimeSlotBindingModel

<form asp-area="" asp-controller="TimeSlot" asp-action="AddTimeSlot" method="post">
    <div class="form-group">
        <label asp-for="StartTime">Start:</label>
        <select class="form-control" asp-for="StartTime" asp-items="@Model.TimeSlots">
            <option selected="selected">Please select</option>
        </select>
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="EndTime">End:</label>
        <select class="form-control" asp-for="EndTime" asp-items="@Model.TimeSlots">
            <option selected="selected">Please select</option>
        </select>
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RoomId">Room:</label>
        <select class="form-control" asp-for="RoomId" asp-items="@Model.RoomNames">
            <option selected="selected">Please select</option>
        </select>
        <span asp-validation-for="RoomId" class="text-danger"></span>
    </div>    

    <div class="form-group">
        <label asp-for="SessionId">Session:</label>
        <select class="form-control" asp-for="SessionId" asp-items="@Model.SessionTitles">
            <option selected="selected">Please select</option>
        </select>
        <span asp-validation-for="SessionId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>