@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conference Manager Example App</h1>
    <p>Please login and use the links on the navbar to manage the upcoming conference.</p>
</div>
