@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conference Manager Example App</h1>
    <p>Please login and use the links on the navbar to manage the upcoming conference.</p>
    <p><b>Password</b>: Str0ngP4ssw0rd$!</p>
    <p><b>User account</b>: conference@user.local</p>
    <p><b>Manager account</b>: conference@manager.local</p>
</div>
